# Created by .ignore support plugin (hsz.mobi)
.idea/
node_modules/
phantasus-external-other.min.js
phantasus-external-pdfkit-xlsx.min.js
phantasus-external-plotly-echarts.min.js
phantasus.js
.RData
.Rhistory
ctrp
package-lock.json
